$cnd-url-img: 'https://cdn.brandOne.com';

@mixin flex-base($justify: flex-start, $align: flex-start, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

/* 行为相关颜色 */
$color-primary: #dba871;
$color-success: #4cd964;
$color-warning: #f0ad4e;
$color-error: #dd524d;

/* 文字基本颜色 */
$text-color-base: #333333; //基本色
$text-color-inverse: #fff; //反色
$text-color-assist: rgba(51, 51, 51, 0.4); //辅助灰色，如加载更多的提示信息
$text-color-warning: #432a21;
$text-color-grey: #666;
$text-color-placeholder: #808080;
$text-color-disable: #c0c0c0;

/* 背景颜色 */
$bg-color: #f8f8f8;
$bg-color-white: #ffffff;
$bg-color-grey: #f9f9f9;
$bg-color-black: #18191a;
$bg-color-hover: #f1f1f1; //点击状态颜色
$bg-color-mask: rgba(0, 0, 0, 0.4); //遮罩颜色

/* 边框颜色 */
$border-color: #c8c7cc;
$dt-border-color: #c8c7cc;
// Border color
$dt-border-color-base: #000000; // outside
$dt-border-color-split: #e8eaec; // inside
$dt-border-width-base: 1px; // width of the border for a component
$dt-border-style-base: solid; // style of a components border
